.quiz_question
{
    display: none;
}

#quiz_container h3
{
    color: #000;
    font-size: 1.30em;
}

.quiz_question ul
{
   padding: 0;
}

.quiz_question li
{
    color: #4f545b;

}

.answer_icon
{

    width: 37px;
    height: 36px;
    float: left;
    cursor: pointer;
}

.answer_list li
{
    list-style-type: none;
    padding: 14px 0;
}

.current_question
{
    float: right;
}

#results
{
    display: none;
    margin-bottom: 20px;
}

.userChoice
{
    background: #dd99aa;
}

#progressBar
{
    background: #0e90f8;
    width: 1px;
    height: 15px;
    margin: 15px 0px;
}

#pager
{
    margin: 15px 0px;
}
#pager li
{
    cursor: pointer;
}

.correctAnswer
{
    background: #05390a;
}