

.back
{

    background-position: -40px 0px;
    width: 37px;
    height: 36px;
    float: left;
    cursor: pointer;
}

.next
{

    background-position: -80px 0px;
    width: 37px;
    height: 36px;
    float: right;
    cursor: pointer;
}



/* Questions */

#quiz_container
{
    margin: 12px 0 0 24px;
}

.quiz_question
{
    display: none;
}

#quiz_container h3
{
    color: #000;
    font-size: 1.30em;
}

.quiz_question ul
{
   padding: 0;
}

.quiz_question li
{
    color: #4f545b;

}

.answer_icon
{

    width: 37px;
    height: 36px;
    float: left;
    cursor: pointer;
}

.answer_list li
{
    list-style-type: none;
    padding: 14px 7px;
}

.answer_content
{
    padding: 4px 0 0 25px;
    margin-left: 32px;
    color: #4f545b;
}

.current_question
{
    float: right;
}

#results
{
    display: none;
    margin-bottom: 20px;
}

.userChoice
{
    background: #dd99aa;
}

#progressBar
{
    background: #0e90f8;
    width: 1px;
    height: 40px;
}

#pager li
{
    cursor: pointer;
}